/rgbasm
/rgblink
/rgbfix
/rgbgfx
/install.sh
/rgbshim.sh
/coverage/
*.o
*.exe
*.dll
*.gcno
*.gcda
*.gcov
/compile_flags.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
build*/
*.dSYM/
callgrind.out.*
